# ignorowanir folderu data ze zbiorem danych
data/

# ignorowanie plików tymczawowych Pythona i środowiska
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
models/SimpleCNN_screening_best.pth
models/ResNet50_screening_best.pth
models/ResNet18_screening_best.pth
models/MobileNetV3_screening_best.pth
models/LogisticRegression_screening_best.pth
models/DenseNet121_screening_best.pth
